${containers_base_name}-${containers_dist_name}-${containers_release_name}-${containers_arch_name}-${containers_variant_name}-${containers_date}-${containers_lxc_name}${containers_lxc_name_extension}
